.team-colour-redbull
{
    border-color: #3671C6;
}

.team-colour-ferrari
{
    border-color: #E8002D;
}

.team-colour-mclaren
{
    border-color: #FF8000;
}

.team-colour-mercedes
{
    border-color: #27F4D2;
}

.team-colour-astonmartin
{
    border-color: #229971;
}

.team-colour-alpine
{
    border-color: #FF87BC;
}

.team-colour-haas
{
    border-color: #B6BABD;
}

.team-colour-vcarb
{
    border-color: #ffffff;
}

.team-colour-williams
{
    border-color: #64C4FF;
}

.team-colour-sauber
{
    border-color: #52E252;
}

.team-colour-cadillac
{
    border-color: #fffbc9;
}