body {
    background-color: #212529;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  background-color: #272a2c;
}

.table-center-data {
    text-align: center;
}

.table-heading-left {
    text-align:left;
}

.table-heading-right {
    text-align: right;
}

.calendar-title {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.table-title {
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

#page-title {
    margin-top: 0.4rem;
    text-align: center;
    color: white;
    margin-bottom: 0.8rem;
}

.table-right-side-data {
    text-align: right;
}

nav {
    margin-left: 1rem;
    margin-right: 1rem;
}

.next-race {
    font-weight: 700;
    --bs-table-color: rgb(255, 166, 0);
}

.next-race-text {
  font-weight: 700;
  color: rgb(255, 166, 0);
}

.team-tab
{
    padding-left: 0.4rem;
    border-left: solid;
    border-radius: 5px;
    border-width: 0.325rem;
}

.trophy-gold-icon
{
    margin-right: 0.3rem;
    color: gold;
}

.trophy-silver-icon
{
    margin-right: 0.3rem;
    color: silver;
}

.trophy-bronze-icon
{
    margin-right: 0.3rem;
    color: rgb(206, 103, 63);
}

.footer {
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #active-row-click {
    --bs-table-bg: #186997;
  }

  .icon-td {
    padding-right: 0 !important;
  }

  .chevron-active {
    transform: rotate(90deg);
    transform-origin: 45% 45%;
  }

  .stripe-style {
    --bs-table-bg: #2c3034;
  }

  .tz-select {
    display:flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .inline-style {
    display: inline;
  }

 #timeselectdropdown {
    margin-left: 0.75rem;
    width: 110px;
    color: white;
    background-color: #212529;
    border-radius: 4px;
  }

  .table-border-after {
    border-bottom: 1px solid #4d5154;
  }